<h1>Paciente: {{cliente.nome}}</h1>
<hr>


<p>Ano de nascimento: {{cliente.nascimento}}</p>

<p>Email: {{cliente.email}}</p>

<p>Telefone: {{cliente.telefone}}</p>

<p>CPF: {{cliente.cpf}}</p>


<a href="/cliente/editar/{{cliente.cpf}}">Editar</a>

<br>

<a href="/cliente/excluir/{{cliente.cpf}}">Excluir</a>